<!DOCTYPE html>
<html Lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
        <meta http-equiv="X-UA-Compatable" content="ie=edge"/>
        <link rel='stylesheet' href='{{ url_for("static", filename="styles/style.css") }}'/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="image_src" href='{{ url_for("static", filename="img/web-thumbnail.png") }}' />
        <title>{% block title %} Home {% endblock %}</title>
    </head>
<body>
    <header>
        <div class=logo>      
            <img src='{{ url_for("static", filename="img/trophy-logo-flipped.png") }}'>
            <h1>Horse Racing's Finest</h1>
            <img src='{{ url_for("static", filename="img/trophy-logo.png") }}'>
        </div>
        <nav class=nav>
            <div class="hamburger" id="hamburger">
            </div>
            <ul class="nav-links" id='nav-links'>
                <li><a class=nav-button href='/'>Home</a></li>
                <li><a class=nav-button href='/'>Apps</a></li>
                <li><a class=nav-button href='/'>Contact</a></li>
                <li><a class=nav-button href='/'>About</a></li>
            </ul>
        </nav>
        </header>  
    </header>
    <div class='container'>
        {%  block main %}
        {% endblock %}
    </div>
</body>
<footer>
    <div>
        Matthew Simanonis 2020
    </div>
    <div>
        <a href='https://github.com/Matthew-Simanonis/horse-bets'>The Code</a>
    </div>
</footer>
</html>