{% extends 'base.html' %}
{% block main %}
<div class=main>
    <div class=options>
        <div class=horse-count>
            <span>Horse Count: </span>
            <input id=horse-count type="number" value=4 min=4 onclick="this.select()">
            <button id='horse-count-button'>Add Horses</button>
        </div>
        <div  >
            <button class='scoring-button'>Scoring</button>
        </div>
    </div>
    <section>
        <div class='left'>
            <div class=horses-table>
                <div class="table-top">
                    <div>Horse</div><div>Race 1</div><div>Race 2</div><div>Race 3</div><div>Race 4</div><div>Jockey Trainer</div><div>Score</div>
                </div>
                <ul id="horses-list">
                </ul>
            </div>
        </div>
        <div class='bottom-buttons'>
            <div class="submit">
                <button id='submit-all' class='button'>Submit</button>
            </div>
            <div class='reset'>
                <button class='button' onClick="window.location.reload();" id='reset'>Reset</button>
            </div>
        </div>
    </section>
    <section class='results-container'>
            <div class='results'>
                <h3>Results</h3>
                <ol id='results'>
                </ol>
            </div>
    </section>
    <div id='scoring' class="scoring">
        <button class='scoring-button' id='scoring-close'>X</button>
        <h1>Scoring</h1>
        <div class=rule>
            <div class=score-button id=first-scoring>1st</div><span>3 points</span>
        </div>
        <div class=rule>
            <div class=score-button id=second-scoring>2nd</div><span>2 points</span>
        </div>
        <div class=rule>
            <div class=score-button id=third-scoring>3rd</div><span>1 points</span>
        </div>
        <div class=rule>
            <div class=score-button id=fourth-scoring>N/A</div><span>0 points</span>
        </div>
        <p>If a Jockey and the horse are the same; Checkbox for 2x points</p> 
    </div>
    <script type='text/javascript' src='{{ url_for("static", filename="home.js") }}'></script>
    <script type='text/javascript' src='{{ url_for("static", filename="radio.js") }}'></script>
</div>
{% endblock %}