{% extends 'base.html' %}
{% block main %}
<div class=main>
    <div class=options>
        <div class=horse-count>
            <span>Horse Count: </span>
            <input id=horse-count type="number" value=4 min=4>
            <button id='horse-count-button'>Add Horses</button>
        </div>
        <div  >
            <button class='scoring-button'>Scoring</button>
        </div>
    </div>
    <section>
        <div class='left'>
            <div class=horses-table>
                <div class="table-top">
                    <div>Horse</div><div>Race 1</div><div>Race 2</div><div>Race 3</div><div>Race 4</div><div>Jockey Trainer</div><div>Score</div>
                </div>
                <ul id="horses-list">
                </ul>
            </div>
        </div>
        <div class='bottom-buttons'>
            <div class="submit">
                <button id='submit-all' class='button'>Submit</button>
            </div>
            <div class='reset'>
                <button class='button' onClick="window.location.reload();" id='reset'>Reset</button>
            </div>
        </div>
    </section>
    <section class='results-container'>
            <div class='results'>
                <h3>Results</h3>
                <ol id='results'>
                </ol>
            </div>
    </section>
    <div id='scoring' class="scoring">
        <button class='scoring-button' id='scoring-close'>X</button>
        <h1>Scoring</h1>
        <p>1st place: 3 points</p>
        <p>2nd place: 2 points</p>
        <p>3rd place: 1 point</p>
        <p>If a Jockey and the horse are the same checkbox for 2x points</p> 
        <p>Jockey and Trainer scores are added as is</p>
    </div>
    <script type='text/javascript' src='{{ url_for("static", filename="home.js") }}'></script>
    <script type='text/javascript' src='{{ url_for("static", filename="radio.js") }}'></script>
</div>
{% endblock %}